<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>기본화면</title>

        <style>

            h1 {
                margin-inline: 110px;
            }

            body {
                border: 2px solid black;
                margin: 10px auto;
                width: 440px;
            }

            span {
                margin-left: 10px;
            }

            input {
                margin-left: 10px;
            }

            button {
                margin-left: 50px;
                margin-bottom: 20px;
            }

        </style>

    </head>
    <body>
        <form action="/page/result", method="get">
            <div>
                <input type="text" placeholder="insert문을 입력하세요." name="insert" value="">
                <button onclick="select()">입력</button>
            </div>
        </form>

        <script>
            function select() {

            }
        </script>
        
    </body>
</html>