<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>고객 관리</title>
    </head>
    <body>

        <div>
            <h3>고객 정보 추가</h3>
        </div>

        <div>
            <form action="/page/delete" method="get"> 
                
                <input type="text" name="colume" value="" placeholder="id, name, age, mobile 중 하나를 선택하시오">
                <input type="text", name="gets" value="" placeholder="값을 입력하세요.">
                
                <button>삭제</button>

            </form>
        </div>
        
    </body>
</html>