<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>고객 관리</title>

        <style>

            h1 {
                margin-inline: 175px;
            }


            body {
                border: 2px solid black;
                margin: 20px auto;
                width: 650px;
            }

            input {
                margin: 10px auto;
                margin-left: 10px;
            }

        </style>
    </head>
    <body>

        <div>
            <h1>고객 정보 변경</h1>
            
        </div>

        <div>
            <form action="/person/modify" method="get"> 
                <input type="hidden" name="id" value="<%=params.id%>">
                <input type="text" name="name" value="<%=params.name%>">
                <input type="number" name="age" value="<%=params.age%>">
                <input type="text", name="mobile" value="<%=params.mobile%>">
                
                <button>변경</button>
                
            </form>
        </div>
        
    </body>
</html>