<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>고객관리 메뉴</title>

        <style>

            h1 {
                margin-inline: 180px;
            }

            h2 {
                margin-inline: 90px;
            }

            body {
                border: 2px solid black;
                margin: 10px auto;
                width: 500px;
            }

            button {
                margin-inline: 190px;
                padding: 20px;
                margin-bottom: 10px;
                font-size: large;
                
            }

        </style>
    </head>
    <body>
        <h1>고객관리</h1>
        <h1><%=username%>님 </h1>
        <button onclick="back()">돌아가기</button>

        <script>
            // form을 사용하지 않고 사용하는 방법 
            function back() {
                console.log(`back 함수 실행됨`); 

                const form = document.createElement('form');  // 고정
                form.setAttribute('action', '/page/allMenu'); // 다시 전체메뉴 페이지로 이동
                form.setAttribute('method', 'get');  // 고정

                const username = '<%=username%>';  // 전에 받은 username 값 가져오기
                const menu = '<%=menu%>';  // 메뉴선택하면 그 메뉴에 맞는 파라미터를 menu변수로 받음 그걸 기억하기

                const data1 = document.createElement('input'); // password는 버리고 username만 복사
                data1.setAttribute('type', 'hidden');
                data1.setAttribute('name', 'username');
                data1.setAttribute('value', username);
                form.appendChild(data1);

                const data2 = document.createElement('input'); // 선택했던 메뉴 이름을 기억 
                data2.setAttribute('type', 'hidden');
                data2.setAttribute('name', 'menu');
                data2.setAttribute('value', menu);
                form.appendChild(data2);

                document.body.appendChild(form);

                form.submit();
            }

        </script>
    </body>
</html>